.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 320px;
    background-color: #92b11c;
    font-weight: bold;
}

.stop {
    color: red;
    font-size: 68px;

}

.defaultSpan {
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.wrapper {


}

.wrapperForButton{
    display: flex;
    width: 320px;
    height: 100px;
    justify-content: space-around;
    background-color: coral;
}

.wrapperForButton button {
    margin-top: 20px;
    width: 100px;
    height: 60px;
}
