.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 320px;
    background-color: #92b11c;
    font-size: 75px;
}

.stop {
    color: red
}