.container {
  width: 100vh;
  height: 100vh;
  background: #193505;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.counter__input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #e6dbdb;
  font-size: 50px;
}

.error {
  color: red;
}

.counter__button {
  margin-top: 10px;
  width: 105px;
  border-radius: 5px;
}