.wrapper {
    display: flex;
    width: 320px;
    height: 100px;
    justify-content: space-around;
    background-color: coral;
}

.wrapper button {
    margin-top: 20px;
    width: 100px;
    height: 60px;
}